EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=mannoplay@gmail.com
SERVER_EMAIL=mannoplay@gmail.com
EMAIL_TIMEOUT=10
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=mannoplay@gmail.com
EMAIL_HOST_PASSWORD=COLE_AQUI_SUA_SENHA_DE_APP
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
